.cart{
    height: 60vh;
    margin: 25px;
    padding: 25px;

}
.center{
 position: absolute;
 top: 50%;
 left: 50%;   
transform: translate(-50%,-50%);
text-align: center;
}



.cart-table{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    
   
    border-radius: .25rem;
}
.cart-product{
    padding-top: 30px;
}
.cart-product thead tr th{
    color:#fff;
    background-color: #3b82f6;
}
button.btn.btn-primary.qt-btn {
    font-size: 10px;
    margin: 3px;
}
.center-table {
    display: table;
    margin: 0 auto;
}

.center-table thead,
.center-table tbody,
.center-table tr,
.center-table td,
.center-table th {
    display: block;
}

.center-table tr {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bbbdbd;
}

.center-table td,
.center-table th {
    flex: 1;
    text-align: center;
    border: none;
}
td strong span{
    color: #3b82f6;
    font-size: 25px;
}

.qanttty{
    font-size: 20px;
    display: flex !important;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .cart-product {
        overflow: scroll;}
  }
